<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.archive.autodetection">class,hbm</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">0599198137</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/springmvc</property>
        <!--<property name="hibernate.connection.url">jdbc:mysql://aa1vhu22mwstg4w.cdrhufk25lna.us-east-2.rds.amazonaws.com:3306/ebdb</property>-->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <property name="hibernate.c3p0.min_size">3</property>
        <property name="hibernate.c3p0.max_size">20</property>
        <property name="hibernate.c3p0.idle_test_period">300</property>
        <property name="hibernate.c3p0.timeout">300</property>
        <property name="hibernate.c3p0.acquire_increment">1</property>
        <property name="hibernate.c3p0.max_statements">240</property>
    </session-factory>
</hibernate-configuration>